# This file contains the MCP server configurations in the following format:
#     "mcp_server_url_1": {
#         "http_headers": {
#                "Authorization": "Bearer <token>",
#         }, # Optional: if the server requires authentication
#         "tools": ["tool_1", "tool_2"]  # Optional: list of specific tools to load from this server. Load all tools if not specified.
#     },

{
    "http://127.0.0.1:8000/mcp": {},

}
